body {
  font-family: sans-serif;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

hr {
  border: 10px solid gray;
  width: 80%;
  border-radius: 5px;
}

.greetings {
  color: green;
}

.avatar {
  border-radius: 50%;
}
